@import "tailwindcss/base";
@import "tailwindcss/components";
@import "perfect-scrollbar/css/perfect-scrollbar.css";
@import "tailwindcss/utilities";


.dark .ps__rail-y,
.dark .ps__rail-x {
    background-color: transparent !important;
}


.btn {
    @apply font-bold py-2 px-4 rounded;
}

.btn-blue {
    @apply bg-blue-500 text-white;
}

.btn-red {
    @apply bg-red-500 text-white;
}

.btn-small {
    @apply text-sm;
    @apply font-bold uppercase text-xs px-2 py-1 rounded;
}

.btn-blue:hover {
    @apply bg-blue-700;
}

/* select option:first-child {
    color: red !important;
    border: 1px solid red !important;
} */


@keyframes successAnim {
    0% {
        background-color: green;
    }

    100% {
        background-color: white;
    }
}

.success-fader {
    background-color: transparent;

    animation-name: successAnim;
    animation-iteration-count: 1;
    animation-duration: 2s;

    -webkit-animation-name: successAnim;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 2s;
}


@keyframes errorAnim {
    0% {
        background-color: rgb(255, 0, 0);
    }

    100% {
        background-color: white;
    }
}

.error-fader {
    background-color: transparent;

    animation-name: errorAnim;
    animation-iteration-count: 1;
    animation-duration: 10s;

    -webkit-animation-name: errorAnim;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 10s;
}