@import "tailwindcss/base";
@import "tailwindcss/components";
@import "perfect-scrollbar/css/perfect-scrollbar.css";
@import "tailwindcss/utilities";


.dark .ps__rail-y,
.dark .ps__rail-x {
    background-color: transparent !important;
}


.btn {
    @apply px-4 py-2 font-bold rounded;
}

.btn-blue {
    @apply text-white bg-blue-500;
}

.btn-red {
    @apply text-white bg-red-500;
}

.btn-small {
    @apply text-sm;
    @apply px-2 py-1 text-xs font-bold uppercase rounded;
}

.btn-blue:hover {
    @apply bg-blue-700;
}

/* select option:first-child {
    color: red !important;
    border: 1px solid red !important;
} */


@keyframes successAnim {
    0% {
        background-color: green;
    }

    100% {
        background-color: white;
    }
}

.success-fader {
    background-color: transparent;

    animation-name: successAnim;
    animation-iteration-count: 1;
    animation-duration: 2s;

    -webkit-animation-name: successAnim;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 2s;


}


@keyframes errorAnim {
    0% {
        background-color: rgb(255, 0, 0);
    }

    100% {
        background-color: white;
    }
}

.error-fader {
    background-color: transparent;

    animation-name: errorAnim;
    animation-iteration-count: 1;
    animation-duration: 10s;

    -webkit-animation-name: errorAnim;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 10s;
}

.numberinputfield {
    @apply w-20 px-1 py-1 text-sm text-right bg-white border-0 rounded shadow outline-none;
}

.descriptioninputfield, .remarksinputfield {
    @apply w-full px-1 py-1 text-sm bg-white border-0 rounded shadow outline-none;
}



.dark .text-gray-900 {
    @apply text-gray-100 !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.toggle-checkbox:checked {
    @apply: right-0 border-green-400;
    right: 0;
    border-color: #68D391;
}

.toggle-checkbox:checked+.toggle-label {
    @apply: bg-green-400;
    background-color: #68D391;
}

.error {
    @apply text-red-500;
}